

.row-input{
  align-items: center;
  border-color: #c1c1c1;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  width: 15%;
}

.row-input-string {
  align-items: center;
  border-color: #c1c1c1;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  width: 28%
}

.row-text-field{
  border-color: #c1c1c1;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: #ebecf0;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
}
